<Alloy>
    <TableView id="menuTable" backgroundColor="#3F3D3D" onClick="doMenuClick">
    	
		<TableViewRow height="50">
			<Label width="Ti.UI.FILL" left="10">DIY Paint</Label>
		</TableViewRow>
		
		<TableViewRow height="50">
			<Label width="Ti.UI.FILL" left="10">Colour Picker</Label>
		</TableViewRow>
		
		<TableViewRow height="50">
			<Label width="Ti.UI.FILL" left="10">Colour Swatches</Label>
		</TableViewRow>
		
		<TableViewRow height="50">
			<Label width="Ti.UI.FILL" left="10">Brochure</Label>
		</TableViewRow>
		
		<TableViewRow height="50">
			<Label width="Ti.UI.FILL" left="10">Store Locator</Label>
		</TableViewRow>
		<TableViewRow height="50">
			<Label width="Ti.UI.FILL" left="10">About Us</Label>
		</TableViewRow>
    </TableView>
</Alloy>